.playground {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: white;
    background-image: url(background_pic.png);
    background-size: cover;
  }


.player {
    position: absolute;
    width: 85px;
    height: 130px;
    background-image: url(media/player.png);
    background-size: contain;
    background-repeat: no-repeat;

  }



.wall {
    position: absolute;
    width: 65px;
    height: 120px;
    display: block;
    background-image: url(media/zaun.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.bird {
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url(media/vogel.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.coin {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 360%;
  background-image: url(media/coin.png);
  background-size: contain;
  background-repeat: no-repeat;
}


.score {
  font-family: Interstate, sans-serif;
  font-size: 30pt;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}





body{
  margin: 0;
}
